        
span.input-icon, span.input-help {
  display: block;
  position: relative;
}

.input-icon > input {
  padding-left: 25px;
  padding-right: 6px;
}

.input-icon.input-icon-right > input {
  padding-left: 6px;
  padding-right: 25px;
}

span.input-help > input {
  padding-left: 30px;
  padding-right: 6px;
}

.input-icon > [class*="fa-"], .input-icon > [class*="clip-"] {
  bottom: 0;
  color: #909090;
  display: inline-block;
  font-size: 14px;
  left: 5px;
  line-height: 35px;
  padding: 0 3px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.input-icon.input-icon-right > [class*="fa-"], .input-icon.input-icon-right > [class*="clip-"] {
  left: auto;
  right: 4px;
}

.input-icon > input:focus + [class*="fa-"], .input-icon > input:focus + [class*="clip-"] {
  color: #557799;
}
